body{
    padding: 100px;
    justify-content: center;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: black;
}
.post{ 
    background-color: white;
    width: 500px;
    height: auto;
    justify-content: center;
    margin: auto;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.post-header i{
    padding: 10px;
    display: flex;
    width: 10px;
    justify-content: space-around;
    
}

.post-header{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.post-imagen img{
    margin: auto;
    justify-content: center;
    display: flex;
    width: 500px;
}